.detail-page-content {
  display: flex;
  width: 82%;
  margin: 10px auto auto auto;
  padding: 10px 0 62px 0;
  border-bottom: 2px solid #9b9b9b;

  justify-content: center;

  .detail-page-content-venue-container {
    display: flex;
    min-height: 500px;

    flex-wrap: wrap;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 640px;
    align-self: flex-start;
    justify-content: center;

  }
}

@media (max-width: 1024px) {
  .detail-page-content {
    flex-wrap: wrap;

    width: 90%;

    .detail-page-content-venue-container {
      flex-shrink: 1;
    }
  }
}

@media (max-width: 764px) {
  .detail-page-content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
