.detail-header-container{
  position: relative;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;

  .detail-header-text{
    display:inline-block;
    margin:10px;
  }

  .detail-header-background{
    position: absolute;
    top:0;
    height : 100%;
    width: 100%;
    opacity: 0.6;
    background-color: #12195f;
  }

  .detail-header-venue-name{
    position: absolute;
    left:100px;
    bottom:150px;
    font-family: Gotham-Light;
    font-size: 64px;
    font-weight: 300;
    color: #ffffff;
  }

  .detail-header-logo{
    position: absolute;
    left:calc(50% - 228px);
    display: block;
    margin:auto;
    min-height: 228px;
  }

  .detail-header-contact-container{
    position: absolute;
    width: 100%;
    height : 115px;
    bottom : 0;
    opacity: 0.8;
    background-image: linear-gradient(97deg, #1e0db4, #e44747);
    font-family: Gotham-Medium;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;

  }

  .detail-header-contact-info-container{
    width:70%;
    margin:auto;
  }

  .detail-header-rating-container{
    position:absolute;
    height:90px;
    width:90px;
    right:100px;
    bottom:70px;
    line-height: 90px;
    font-family: Gotham-Book;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
  }
}
