.recent-search-item-container{
  height: 50px;
  border-bottom: solid 1px #e4e4e4;
  font-size:14px;
  line-height: 50px;
}

.recent-search-item-link{
  text-transform: none;
  text-decoration: none;
  color: #9b9b9b;
  cursor: pointer;

  &:hover{
    color: #4b4b4b;
  }

}