.detail-tip-menu{
  z-index: 1;

  margin-top: -80px;
  margin-left: 20px;
  max-width:290px;

  box-shadow: 0 0 34px 0 rgba(115, 95, 255, 0.32);

  background-color: #ffffff;

  .detail-tip-menu-title{
    position: relative;

    display:block;
    margin-top:30px;
    margin-bottom:20px;

    font-family: Gotham-Medium;
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    color: #4a4a4a;
  }

  .detail-tip-menu-title:before{
    position: absolute;
    left: 110px;
    top: 30px;

    height: 1px;
    width: 70px;
    margin: auto;
    border-bottom: 2px solid #c4c0ff;

    content : "";
  }

  .detail-tip-menu-user-container{
    display:flex;
    flex-wrap: wrap;
    width: 80%;
    margin:auto;
    padding-top:10px;
    padding-bottom:20px;
    border-bottom: solid 1px #e4e4e4;
    overflow: hidden;
  }

  .detail-tip-menu-user-picture-container{
    width:40px;
    height:40px;

    transform: rotate(-45deg);
  }

  .detail-tip-menu-user-name-container{
    display:table;
    height:40px;
    margin-left:20px;
  }

  .detail-tip-menu-user-name{
    display:table-cell;
    vertical-align: middle;

    font-family: Gotham-Medium;
    font-size: 14px;
    font-weight: 500;

    max-width: 170px;

    color: #9b9b9b;

  }

  .detail-tip-menu-user-comment{
    margin-top:10px;
    min-width: 100%;

    font-family: Gotham-Book;
    font-size: 14px;

    color: #9b9b9b;
  }


}