@keyframes hide-slogan-animation {
  0% {
    height: 300px;
  }
  100% {
    height: 0;
  }
}

.search-page-header {
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;

  min-height: 150px;

  z-index: -1;


  .search-page-header-content-background {
    width: 100%;
    height: 100%;

    background-image: linear-gradient(97deg, rgba(30, 13, 180, 0.8), rgba(228, 71, 71, 0.8));
  }

  .search-page-header-content-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;

  }

  .search-page-header-home-logo-container {
    margin: auto;

    order: 0;
  }
  .search-page-header-logo-container {
    max-width: 252px;
  }

  .search-page-header-logo {
    width: 252px;
  }

  .search-page-header-home-logo {
    width: 454px;
    max-width: 100%;
  }

  .search-page-header-form-container {
    margin: 40px auto 40px auto;

    order: 2;
  }

  .search-page-header-slogan-container {
    margin: auto;
    width: 100%;
    order: 1;
  }

  .search-page-header-slogan-container-animate {
    animation: hide-slogan-animation 2s forwards;
    order: 3;

    overflow: hidden;
    margin: auto;
    width: 100%;
  }

  .search-page-header-slogan-content {
    margin: auto;
    width:50%;

    font-size: 16px;
    font-family: Gotham-Book;
  }

  .search-page-header-slogan-title {
    margin-top: 23px;

    font-size: 55px;
    font-family: Gotham-ExtraLight;
    font-weight: 200;
  }
}

@media (max-width: 1024px) {
  .search-page-header {

    .search-page-header-content-container {
      width: 100%;
    }

    .search-page-header-home-logo-container {
      margin: 0 auto 0 auto;
    }

    .search-page-header-logo-container {
      margin: 0 auto 0 auto;
    }

    .search-page-header-logo {
      max-width: 100%;
    }

    .search-page-header-form-container {
      margin: auto;
    }
  }
}