.detail-image-card{
  position: relative;

  height : 290px;
  width: 290px;
  border : 1px solid #e1e1e1;
  margin : 0px 10px 10px 10px;

  background-repeat: no-repeat;
  background-size: cover;
  color : #ffffff;

  .detail-image-card-user-info-container{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .detail-image-card-user-background{
    width: 100%;
    height: 100%;
    background-color: #1e0db4;
    opacity: 0.5;
    position: absolute;
    top:0;
    left:0;
  }
}