.detail-image-card{
  position: relative;

  height : 290px;
  width: 290px;
  border : 1px solid #e1e1e1;
  margin : 0px 10px 10px 10px;

  background-repeat: no-repeat;
  background-size: cover;
  color : #ffffff;

  &:hover .detail-image-card-user-info-container{
    display:table;
    cursor:pointer;
  }

  .detail-image-card-user-info-container{
    position: absolute;
    top:0;

    display:none;
    width: 100%;
    height: 100%;

    text-align: center;
    background-color : rgba(18, 25, 95, 0.5);
  }

  .detail-image-card-user-info-content-container{
    display:table-cell;
    vertical-align: middle;
  }

  .detail-image-card-user-info-image-container{
    height:40px;
    width:40px;
    transform: rotate(-45deg);
    margin:10px auto 20px auto;
    overflow: hidden;
  }

  .detail-image-card-user-info-image{
    transform: rotate(45deg);
    margin-left:-10px;
    margin-top:-10px;
  }

}