.detail-image-card-container{
  position: relative;
  height : 290px;
  width: 290px;
  border : 1px solid #e1e1e1;
  margin : 0px 10px 10px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  color : #ffffff;
}