.detail-content{
  display:flex;
  flex-wrap: wrap;
  width: 75%;
  margin:10px auto auto auto;
  padding : 10px 0 62px 0;
  border-bottom : 2px solid #9b9b9b;

  .detail-content-image-container{
    display:flex;
    flex-wrap: wrap;
    width:640px;
    min-height:500px;
  }
}