.detail-content-container{
  width: 75%;
  margin:10px auto auto auto;
  padding-top : 10px;
  display:flex;
  .detail-content-image-container{
    width:640px;
    min-height:500px;
  }
  .detail-content-tips-container{
    margin-top: -80px;
    margin-left: 20px;
    min-width:290px;
    min-height:600px;
    background-color: #ffffff;
    box-shadow: 0 0 34px 0 rgba(115, 95, 255, 0.32);
    z-index: 1;
  }
}