.detail-content-container{
  width: 75%;
  margin:10px auto auto auto;
  padding-top : 10px;
  display:flex;
  .detail-content-image-container{
    width:640px;
    min-height:500px;
    display:flex;
    flex-wrap: wrap;
  }
}