.search-recent-search-container{
  margin-left : 30px;
  min-width : 290px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0 0 34px 0 rgba(255, 95, 95, 0.32);
  text-align:center;
  padding-top: 40px;
  font-family: Gotham-Medium;

  .search-recent-search-title{
    position: relative;
    margin:auto;
    margin-bottom:30px;
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 500;
  }

  .search-recent-search-title:before{
    content : "";
    position: absolute;
    left    : 110px;
    top: 30px;
    height  : 1px;
    width   : 70px;
    margin:auto;
    border-bottom:1px solid;
  }

  .search-recent-search-link{
    text-transform: none;
    text-decoration: none;
    color: #9b9b9b;

    &:hover{
      color: #4b4b4b;
    }

  }

  .search-recent-search-content{
    height: 50px;
    text-align: center;

    font-size:14px;
    line-height: 50px;
    border-bottom: solid 1px #e4e4e4;
  }

}