@keyframes fade-animation {
  from {
    opacity: 0
  }
  to {
    opacity: 1.0
  }
}

.search-venue-card {
  position: relative;

  height: 290px;
  width: 290px;
  margin: 0 10px 10px 10px;
  border: 1px solid;

  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  animation: fade-animation 3s;

  .search-venue-card-text {
    margin-left: 10px;
  }

  .search-venue-card-content {
    height: 100%;
    width: 100%;

    background-color: rgba(18, 25, 95, 0.5);
  }

  .search-venue-card-link {
    text-decoration: none;
    color: #ffffff;
  }

  .search-venue-card-herenow-container {
    position: absolute;
    bottom: 0;
    left: 20px;

    display: table;
    min-width: 40px;
    height: 40px;
    border-top: solid 2px #c4c0ff;

    font-family: Gotham-Medium;
    font-size: 12px;
    font-weight: 500;

    color: #ffffff;
  }

  .search-venue-card-herenow {
    display: table-cell;
    vertical-align: middle;
  }

  .search-venue-card-tier-container {
    position: absolute;
    left: 90px;
    bottom: 0;

    height: 30px;
    min-width: 30%;
  }

  .search-venue-card-name-container {
    position: absolute;
    bottom: 50px;
    left: 20px;

    min-width: 100%;

    font-size: 25px;
    font-family: Gotham-Book;
  }

  .search-venue-card-raiting-container {
    position: absolute;
    right: 0;
    bottom: 0;

    display: table;
    height: 40px;
    width: 80px;

    background-size: inherit;
    background-repeat: no-repeat;

    text-align: center;
    font-family: Gotham-Medium;
    font-weight: 500;
  }

  .search-venue-card-raiting {
    display: table-cell;
    vertical-align: bottom;
  }
}

@media ( max-width: 670px) {
  .search-venue-card {
    width: 48vw;
    height: 48vw;

    padding: 0;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .search-venue-card {
    width: 100vw;
    height: 100vw;
  }
}