#search-index-container{
  background-image: linear-gradient(97deg, #1e0db4, #e44747);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  border: 1px solid;
  text-align: center;
  color : #ffffff;
}
#search-index-logo{
  max-width: 100%;
}