.price-tier-bar {
  display: inline-block;

  .price-tier-bar-container {
    position: relative;
    display: inline-block;
    border: 1px solid;
    border-radius: 100px;

    height: 3px;
    width: 60px;
    margin-left: 10px;
    margin-bottom: 3px;
    vertical-align: middle;

    background-color: #000000;
  }

  .price-tier-bar-child {
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;
  }

}