.search-form-container{
  max-width: 600px;
  margin:auto;
  .search-form-input-text{
    padding-left: 10px;
    height: 40px;
    border-radius: 4px;
    margin-left : 10px;
  }
  .search-form-input-query{
    width: 285px;
  }
  .search-form-input-location{
    width: 156px;
  }
  .search-form-button{
    background-color: #ff5f5f;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);

    width: 77px;
    height: 45px;
    margin-left:10px;
  }
}
