.search-form{

  max-width: 600px;
  margin:10px auto 20px auto;

  .search-form-input{
    padding-left: 10px;
    margin-right: 10px;
    height: 45px;
    border-radius: 4px;
    box-sizing: border-box;

    font-family: Gotham-Medium;
    text-transform: capitalize;

  }

  .search-form-query-input{
    width: 285px;
  }

  .search-form-location-input{
    width: 156px;
  }

  .search-form-button{
    background-image: url("../../../../asset/img/search-icon.svg");
    background-position: 5px 0px;
    background-repeat: no-repeat;
    background-color: #ff5f5f;

    border-radius: 4px;
    border: none;
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
    width: 77px;
    height: 45px;

    cursor: pointer;
    vertical-align: top;
    }
}

@media (max-width: 1105px){
  .search-form {
    .search-form-button {
      width: 100%;
      padding-left:10px;
    }
    .search-form-input{
      width:100%;
      margin-bottom:5px;
    }
  }
}