.recent-search-panel {
  flex-basis: 290px;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-start;
  text-align: center;

  padding-bottom: 20px;
  padding-top: 40px;
  min-height: 500px;


  font-family: Gotham-Medium;
  box-shadow: 0 0 34px 0 rgba(255, 95, 95, 0.32);
  background-color: #ffffff;

  .recent-search-panel-title-container {
    position: relative;

    margin: auto;

    font-size: 16px;
    font-weight: 500;

    color: #4a4a4a;
  }

  .recent-search-panel-title-container:after {
    display: block;
    border: 1px solid #c4c0ff;
    margin: 20px auto 0 auto;
    width: 30%;

    content: "";

  }

}

@media (max-width: 1024px) {

  .recent-search-panel {
    margin: auto;
  }

}