footer{
  min-height: 150px;
  text-align: center;
  background-color: #ffffff;
  line-height: 150px;
  a{
    font-family: "Gotham-Medium";
    font-size: 12px;
    text-transform: uppercase;
    color : #9b9b9b;
    margin-left : 10px;
    &:hover{
      color : #4d4d4d;
    }
  }

}
