.footer-container{
  height: 150px;
  text-align: center;
  background-color: #ffffff;
  line-height: 150px;
  .footer-link-container{
    border-top : 2px solid #9b9b9b;
    width: 80%;
    margin: 60px auto auto auto;
  }
  .footer-link{
    font-size: 12px;
    text-transform: uppercase;
    color : #9b9b9b;
    margin-left : 10px;
    font-family: Gotham-Medium;
    &:hover{
      color : #4d4d4d;
    }
  }

}
