.search-content{
  display:flex;
  width: 90%;
  margin:40px auto auto auto;
  padding-bottom: 62px;
  border-bottom : 2px solid #9b9b9b;
  justify-content: center;

  .search-content-card-container{
    display:flex;
    margin-right:20px;

    flex-basis: 630px;
    flex-grow: 1;
    flex-shrink: 0;

    flex-wrap:wrap;
    justify-content: center;
  }
}

@media (max-width:1024px){

  .search-content{
    flex-wrap: wrap;
    .search-content-card-container{
      flex:1;
      flex-basis: 100%;
    }
  }

}

@media (max-width:820px){
  .search-content{
    width:100%;
  }
}



