.detail-page-venue-card {
  position: relative;

  width: 290px;
  height: 290px;
  border: 1px solid #e1e1e1;
  margin: 0 10px 10px 10px;

  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  &:hover .detail-page-venue-card-user-info-container {
    display: table;

    cursor: pointer;
  }

  .detail-page-venue-card-user-info-container {
    position: absolute;
    top: 0;

    display: none;
    width: 100%;
    height: 100%;

    text-align: center;
    background-color: rgba(18, 25, 95, 0.5);
  }

  .detail-page-venue-card-user-info-content-container {
    display: table-cell;
    vertical-align: middle;
  }

  .detail-page-venue-card-user-info-image-container {
    height: 40px;
    width: 40px;
    margin: 10px auto 20px auto;
    overflow: hidden;

    transform: rotate(-45deg);
  }

  .detail-page-venue-card-user-info-image {
    transform: rotate(45deg);

    margin-left: -10px;
    margin-top: -10px;
  }

}

@media (max-width: 764px) {
  .detail-page-venue-card {
    width: 49%;
    height: 49vw;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .detail-page-venue-card {
    width: 100vw;
    height: 100vw;
  }
}