.search-header-container{
  background-image: linear-gradient(97deg, #1e0db4, #e44747);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
  text-align: center;
  color : #ffffff;
  min-height:100px;
}