@keyframes hide-slogan-animation{
  0%{
    height:300px;
  }
  100% {
    height:0;
  }
}

.search-header{
  background-image: linear-gradient(97deg, #1e0db4, #e44747);
  background-size: cover;
  background-repeat: no-repeat;
  color:#ffffff;

  min-height : 150px;

  text-align: center;

  .search-header-content-container{
    display: flex;
    flex-wrap: wrap;

    width:80%;
    margin:auto;
  }


  .search-header-home-logo-container{
    margin:auto;
    order:0;
  }
  .search-header-logo-container{
    max-width: 252px;
  }

  .search-header-logo{
    width : 252px;
  }

  .search-header-home-logo{
    width: 454px;
    max-width:100%;
  }

  .search-header-form-container{
    margin: 40px auto 40px auto;
    order:2;
  }

  .search-header-slogan-container{
    margin:auto;
    order:1;
  }
  .search-header-slogan-container-animate{
    animation: hide-slogan-animation 2s forwards;
    overflow: hidden;
    order:3;
    margin:auto;
  }
  .search-header-slogan-content{
    margin-top:17px;
    margin-bottom:30px;

    font-size: 16px;
    font-family: Gotham-Book;
  }

  .search-header-slogan-title{
    margin-top:23px;

    font-size: 55px;
    font-family: Gotham-ExtraLight;
    font-weight: 200;
  }
}

@media (max-width:1024px){
  .search-header{
    .search-header-content-container{
       width:100%;
    }
    .search-header-home-logo-container{
      margin: 0 auto 0 auto;
     }

    .search-header-logo-container{
      margin:0 auto 0 auto;
    }

    .search-header-logo{
      max-width:100%;
    }
  }
}